body {
    margin: 0;
}

.header-background {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.header-link {
    display: flex;
    list-style-type: none;
    margin-right: 5em;
}

.header-logo {
    margin: 0;
    padding: 0;
    margin-left: 5em;
}