body {
    margin: 0;
}

.header-background {
    display: flex;
    flex-direction: column;
    margin: 0;
    background: #1F2937;
    color: white;
    padding-bottom: 3em;
}

.header {
    display: flex;
    justify-content: space-between;
    margin: 0;
    margin-bottom: 10px;
}

.header-link {
    display: flex;
    list-style-type: none;
    margin-right: 50px;
}

.header-logo {
    margin: 0;
    padding: 0;
    margin-left: 50px;
    margin-top: 10px;
    font-size: 40px
}

.under-header {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
}


.toronto-skyline {
    width: 550px;
    height: 350px;
    margin: 0;
    padding: 0;
    margin-right: 50px;
}

.title {
    width: 400px;
    height: 350px;
    margin-left: 50px;
}
.title h1 {
    font-size: 55px;
    margin-top: -10px;
}

.sub-text {
    font-size: 30px;
}

button {
    padding: 8px 16px;
    border-radius: 8px;
}

.title-sign {
    background: royalblue;
    border : 1px royalblue;
    color: white;
    margin-top: 30px;
}

.content-background {
    margin-bottom: 100px;
}

.content-inside {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-box {
    display: flex;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box img {
    border: 4px solid #3882f6;
    width: 200px;
    height: 150px;
    margin: 16px 32px;
    border-radius: 8px;
}

.box div {
    color: #575757;
    font-weight: bold;
}

.quote-background {
    background: #e5e7eb;
    padding: 80px;
}

.quote {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote-text {
    font-size: 36px ;
    color: #1F2937;
    width: 600px;
}

.quote-author {
    font-weight: bold;
    font-size: 25px;
    margin-left: 28em;
}

.sign-up-background {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.sign-up-background div {
    color: white;
}
.sign-box {
    height: 125px;
    width: 800px;
    background: #3882f6;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-text {
   margin-right: 10em;
}

.sign-text .sign-title {
    font-weight: 900;
}

.sign-button button {
    background: #3882f6;
    border: 2px solid white;
    color: white;
}

.footer-background {
    background: #1F2937;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright {
    color: white;
}